In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = {
    'City' : ['Paris', 'London', 'Dubai', 'Mumbai'],
    'Return flight' : [200, 250, 370, 450],
    'Hotel per day' : [20, 30, 15, 10],
    'Weekly car rental' : [200, 120, 80, 70]
}

In [10]:
df = pd.DataFrame(data)
print(df)

     City  Return flight  Hotel per day  Weekly car rental
0   Paris            200             20                200
1  London            250             30                120
2   Dubai            370             15                 80
3  Mumbai            450             10                 70

In [11]:
def Total_cost(Return_flight, Hotel_per_day, Weekly_car_rental):
    Total_cost = Return_flight + Hotel_per_day*7 + Weekly_car_rental
    return

In [12]:
df['Total cost'] = (
    df['Return flight'] +
    (df['Hotel per day'] * 7) +
    df['Weekly car rental']
)

print(df)

     City  Return flight  Hotel per day  Weekly car rental  Total cost
0   Paris            200             20                200         540
1  London            250             30                120         580
2   Dubai            370             15                 80         555
3  Mumbai            450             10                 70         590

In [13]:
min_cost = df['Total cost'][0]
cheapest_city = df['City'][0]

for i in range(len(df)):
    if df['Total cost'][i] < min_cost:
        min_cost = df['Total cost'][i]
        cheapest_city = df['City'][i]

print("Cheapest city:", cheapest_city)
print("Minimum cost for 1 week:", min_cost)

Cheapest city: Paris
Minimum cost for 1 week: 540

In [14]:
min_index = df['Total cost'].idxmin()

print("Cheapest city:", df.loc[min_index, 'City'])
print("Minimum cost for 1 week:", df.loc[min_index, 'Total cost'])

Cheapest city: Paris
Minimum cost for 1 week: 540

In [15]:
def cost_calculator(row):
   Days= int(input("How many days?"))
   return row['Return flight'] + (row['Hotel per day'] * Days) + row['Weekly car rental']

df['cost'] = cost_calculator(df)
print(df)
min_index = df['cost'].idxmin()

print("Cheapest city acc to days:", df.loc[min_index, 'City'])

How many days?10
     City  Return flight  Hotel per day  Weekly car rental  Total cost  cost
0   Paris            200             20                200         540   600
1  London            250             30                120         580   670
2   Dubai            370             15                 80         555   600
3  Mumbai            450             10                 70         590   620
Cheapest city acc to days: Paris

In [17]:
import pandas as pd

data = {
    'City' : ['Paris', 'London', 'Dubai', 'Mumbai'],
    'Return flight' : [200, 250, 370, 450],
    'Hotel per day' : [20, 30, 15, 10],
    'Weekly car rental' : [200, 120, 80, 70]
}
df = pd.DataFrame(data)

# Replicate the effect of cost_calculator with Days=10, as seen in previous cell execution
Days = int(input("How many days?"))
df['cost'] = df['Return flight'] + (df['Hotel per day'] * Days) + df['Weekly car rental']

min_cost = df['cost'][0]
cheapest_city = df['City'][0]

for i in range(len(df)):
    if df['cost'][i] < min_cost:
        min_cost = df['cost'][i]
        cheapest_city = df['City'][i]

print("Cheapest city:", cheapest_city)
print("Minimum cost for days:", min_cost)

How many days?10
Cheapest city: Paris
Minimum cost for days: 600